
.footer-links {
	li {
		display: inline-block;
		font-size: .8em;
	}

	a {
	 color: #c9d4d9;
	}
}

.lower-footer {
    background: url("../images/footer-fade.jpg") top left no-repeat;
    background-size: 45%;
}

.copyrights {
	padding: 20px 0;
	background-color: #293239;
	color: #7f8488;

	p {
		margin: 0;
		padding: 0;
		font-size: .8em;
		    margin-top: 5px;
	}

	a {
			color: #ccc;
	}
}

