.aig-btn {
    display: inline-block;
    padding: 13px 30px;
    margin-bottom: 0;
    background: #e15115;
    font-size: 14px;
    font-size: 1rem;
    font-weight: 600;
    line-height: 22px;
    -webkit-font-smoothing: antialiased;
    color: #fff;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 25px;
    border: none;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

        display: block;
    position: relative;
    max-width: 320px;
    border-radius:40px;

    &__reversed {
    	background-color: transparent;
    	border: 2px solid #fff;
    	color:#fff;
    }   
}

.header-buttons {
    width: 0;
    float: right;
    position: relative;
    text-align: right;
}


@media (min-width: 980px) {

	.header-buttons>div {
	    min-width: 201px;
	}

}

.header-buttons>div {
    min-width: 100px;
    position: absolute;
    top: 0;
    right: 0;
}

@media (min-width: 980px) {

	.header-buttons>div {
	    min-width: 200px;
	}

}






.aig-header .aig-btn.aig-btn--small {
    height: 36px;
    line-height: 1.4;
}

.header-buttons .aig-btn.aig-btn--small {
    min-width: 84px;
    display: inline-block;
    margin-left: 9px;
}

.aig-header .aig-btn.aig-btn--small {
    height: 36px;
    line-height: 1.4;
}

.aig-btn.aig-btn--outline-white:focus, .aig-btn.aig-btn--outline-white:hover {
    color: #eaeced;
}

.aig-btn.aig-btn--outline-white {
    background-color: transparent;
    color: #fff;
    border: 0;
    box-shadow: 0 0 0 1px #fff, 0 0 0 1px #fff;
}

.aig-btn.aig-btn--small {
    padding: 9px 15px;
    font-size: 12px;
    font-size: .85714286rem;
    line-height: 12px;
}





.aig-btn.aig-btn--small {
	padding: 9px 15px;
	font-size: 12px;
	font-size: .85714286rem;
	line-height: 12px
}
.aig-btn.aig-btn--outline-white {
	background-color: transparent;
	color: #fff;
	border: 0;
	box-shadow: 0 0 0 1px #fff, 0 0 0 1px #fff
}

.aig-btn.aig-btn--outline-white:focus, 
.aig-btn.aig-btn--outline-white:hover {
	color: #eaeced
}

.aig-btn.aig-btn--outline-white:active {
	color: #d4d9dc
}

.aig-btn.aig-btn--white {
	background-color: #fff;
	color: #2c2e2f
}

.aig-btn.aig-btn--white:focus, 
.aig-btn.aig-btn--white:hover {
	background-color: #eaeced
}

.aig-btn.aig-btn--white:active {
	background-color: #eaeced
}