
.aig-logo-wrapper {
width: 0;
float: left;
z-index: 100000;
position:relative;

} 

.menu-global {
    position: relative;
    z-index: 100000000;
}

.main-link {

    &:hover {
        border-bottom: 2px solid;
    }
}

.aig-logo {
    width: 138px; 
    height: 43px;
    display: inline-block;
    padding: 0;
    background: transparent url(../images/logo.svg) center center no-repeat;
    background-clip: border-box;
    background-origin: padding-box;
    background-position: 0 50%;
    background-size: contain;
    overflow: hidden;
    text-indent: -9999em; 

 
	&--white {


	

	background: transparent url(../images/logo.svg) center center no-repeat;
	background-size: 93pt 33px;
	vertical-align: middle;
	padding-top: 5px;
	margin-top: -7px;
	position: absolute;
	top: 0;
	}



}










// MEGA MENU

.megamenu { 
display: none;     
position: absolute;
top: 0;
left: 0;
width: 100%;
padding: 7em 0;
height: 300px;
overflow: hidden;
background-color:$primary-color; 


&--sub-menu {}
&--sub-menu >  li  {
float: left;
min-width: 100px;
padding: 20px;
}


&--sub-menu > li  a  {
color:#fcebe6;
font-size:1rem; 

}


}















// MENU





.main.home {
     text-indent: -9999px;
    background: url(../images/icons/home.svg) top left no-repeat;
    background-size: 16px;
    width: 17px;
    position: relative;
    top: 3px;

}


.closer-mobile a[rel=menuitem]:after, 
.main-link[rel=menuitem]:after {
    content: '';
    display: inline-block;
    width: 9px;
    height: 9px;
    overflow: hidden;
    border: 1px solid #fff;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    opacity: .75;
    position: relative;
    left: 6px;
    top: 0;
    transform: rotate(-45deg);
    transition: all .3s ease-out;
    box-sizing: border-box;
    z-index: -1;
}

.main-link:hover[rel=menuitem]:after {
left: 6px;
top: 0;
transform: rotate(-145deg);

}


.closer-mobile a[rel=menuitem]:after, 
.main-link:focus[rel=menuitem]:after, 
.main-link:hover[rel=menuitem]:after, 
.main-link[rel=menuitem]:after {
    content: '';
    display: inline-block;
    width: 9px;
    height: 9px;
    overflow: hidden;
    border: 1px solid #fff;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    opacity: .75;
    position: relative;
    left: 10px;
    top: 0;
    transform: rotate(-45deg);
    transition: all .3s ease-out;
    box-sizing: border-box;
    z-index: -1;
}




.closer-mobile a[rel=menuitem]:after, 
.main-link:focus[rel=menuitem]:after, 
.main-link:hover[rel=menuitem]:after, 
.main-link[rel=menuitem]:after {
    top: -4px;
    transform: rotate(45deg);
}


.closer-mobile a[rel=menuitem]:after, 
main-link:focus[rel=menuitem]:after, 
.main-link:hover[rel=menuitem]:after {
    top: 0px;
    transform: rotate(-135deg);
}






.main-menu {
text-align: inherit;
position: static;
display: inline-block;

}

.main-menu > li {
display: inline-block;
position:relative;
float:left;

}

.main-link {
padding: 26px 12px;
margin: 0 1px;
font-size: 1rem;
text-transform: uppercase;
line-height: 2;
color:#fff;
text-decoration: none;

&:hover {
border-bottom:2px solid #fff;
text-decoration: none;
}

}




// SCROLL

.aig-header.change .aig-logo--white {
    background-image: url(../images/logo-full.svg);
}

.aig-header.change {
    background: #fff;
    -webkit-transition: margin .3s ease-out 0s;
    -moz-transition: margin .3s ease-out 0s;
    -ms-transition: margin .3s ease-out 0s;
    -o-transition: margin .3s ease-out 0s;
    transition: margin .3s ease-out 0s;

    box-shadow: 0 0 10px 1px rgba(0, 0, 0, .2), 0 0 10px 1px rgba(255, 255, 255, .2);
    position: fixed;

    &:before {
        background: none;
    }

    .main-link {
        color: #333;
        &:hover {
            color: #fff;
        }   
    }
}




.aig-header.change .main-link[rel=menuitem]:after {
    border: 1px solid #e15115;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
}


.aig-header.change .header-buttons .aig-btn.aig-btn--outline-white, 
.aig-header:not(.pp-header--submenu-open) .menu-button-wrapper .aig-btn.aig-btn--outline-white {
    color: #e15115;
    box-shadow: 0 0 0 1px #e15115, 0 0 0 1px #e15115;
}

.aig-header.change .header-buttons .aig-btn.aig-btn--white, 
.aig-header.change .menu-button-wrapper .aig-btn.aig-btn--white {
    background: #e15115;
    color: #fff;
}

 

//  REVERSED ON SCROL --------------------------------------

.aig-header.reversed {
    background-color: $primary-color;   

    &:before {
        background:none;
}